<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coloredflare.tasklist" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".activities.AddListActivity"
            android:label="@string/title_activity_add_list"
            android:parentActivityName=".activities.Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Main" />
        </activity>
        <activity
            android:name=".activities.AddTaskActivity"
            android:label="@string/title_activity_add_task"
            android:parentActivityName=".activities.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ListActivity" />
        </activity>
        <activity
            android:name=".activities.UpdateListActivity"
            android:label="@string/title_activity_update_list" >
        </activity>
        <activity
            android:name=".activities.UpdateTaskActivity"
            android:label="@string/title_activity_update_task" >
        </activity>
    </application>

</manifest>
